* {
    /*border: 1px solid red !important;*/
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /* basic set up for a website */
    color: #575757;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
}


.row {
    margin-bottom: 15px;
    margin-top: 15px;
}

.text-overflow {
    overflow: auto;
    height: 250px;
    margin-top: 25px;
}

.text-block {
    padding-right: 40px;
    padding-top: 60px;
}

.gray-background {
    background-color: #EDEDED;
}

.text-small {
    font-size: 65%;
}

hr {
    background-color: #303030;
    margin: 0;
    height: 3px;
}

h1 {
    font-weight: 100;
    font-size: 210%;
    color: black;
}

h4 {
    letter-spacing: 10px;
}

a {
    color: black;
}


