* {
    /*border: 1px solid red !important;*/
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
/* adjust text block to smaller devices */
@media only screen and (max-width : 1200px) {
    .container .row .text-block {
        margin-top: 15px;
    }
}
/* adjust images to smaller devices */
@media only screen and (max-width : 992px) {
    .container .row .col-md-6 .img-center {
        display: block;
        margin: 0 auto;
    }

    .container .row .col-md-6 .img-extra-margin {
        margin-bottom: 25px;
    }
}

body {
    /* basic set up for a website */
    color: #575757;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
}


.row {
    margin-bottom: 5px;
    margin-top: 15px;
}

.row-spacing {
    margin-top: 25px;
}

.row-clickable {
    cursor: pointer;
}

.text-overflow {
    overflow: auto;
    height: 250px;
    margin-top: 25px;
}

.text-block {
    text-align: center;
    margin-top: 75px;

}

.orange-background {
    background: #EDEDED;
    background: -webkit-radial-gradient(#fff, #f8eee3, #fff); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#fff, #f8eee3, #fff); /* Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#fff, #f8eee3, #fff); /* Firefox 3.6 to 15 */
    background: linear-gradient(to left, #fff, #f8eee3, #fff);
}

.text-small {
    font-size: 90%;
}

.text-smaller {
    font-size: 65%;
}

.stylized-hr {
    border: 0;
    height: 3px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.modal-text {
    font-size: 115%;
}

hr {
    background-color: #303030;
    margin: 0;
    height: 3px;
}

h1 {
    font-size: 220%;
    font-weight: 100;
}

h4 {
    letter-spacing: 10px;
}

a {
    color: #8c8b8b;
}

a:link,
a:visited
{

    text-decoration: none;
    /* make transition */
    transition: color 0.3s;
}

a:hover, a:active
{
    color: #b8b8b8;
}



